@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #d1da89;
}

a {
  color: bisque;
}

a:hover {
  color: darkseagreen;
}

.jumbotron {
  background-color: #d1da89;
}

.anim {
  background-color: darkseagreen;
}

h1 {
  font-size: 70px;
}

.card {
  background-color: darkseagreen;
}

.card-img-top {
  height: 300px;
  width: 300px;
}

.galeria {
  height: 500px;
  width: 100%;
  background-color: beige;
  color: antiquewhite;
  text-shadow: 0 0 2px forestgreen;
  padding: 20px;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  font-size: larger;
  background-color: darkseagreen;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gal:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-red, .img-blue, .img-purple, .img-green, .img-black, .img-yellow, .img-brown, .img-pink {
  border: 10px solid red;
  border-radius: 10px;
}

.card-red {
  border: 10px solid red;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-blue {
  border: 11px solid blue;
  border-radius: 11px;
}

.card-blue {
  border: 11px solid blue;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-purple {
  border: 12px solid purple;
  border-radius: 12px;
}

.card-purple {
  border: 12px solid purple;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-green {
  border: 13px solid green;
  border-radius: 13px;
}

.card-green {
  border: 13px solid green;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-black {
  border: 14px solid black;
  border-radius: 14px;
}

.card-black {
  border: 14px solid black;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-yellow {
  border: 15px solid yellow;
  border-radius: 15px;
}

.card-yellow {
  border: 15px solid yellow;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-brown {
  border: 16px solid brown;
  border-radius: 16px;
}

.card-brown {
  border: 16px solid brown;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-pink {
  border: 17px solid pink;
  border-radius: 17px;
}

.card-pink {
  border: 17px solid pink;
  border-min-height: 250px;
  border-width: 100%;
  border-transition: all 0.7s;
  border-display: flex;
  border-flex-direction: row;
  border-justify-content: center;
}

.img-red, .img-blue, .img-purple, .img-green, .img-black, .img-yellow, .img-brown, .img-pink {
  background-image: url(imgs/Robbit_Stock.png);
  background-size: cover;
  background-position: center;
}

.img-blue {
  background-image: url(imgs/Untitled_Artwork1.png);
}

.img-purple {
  background-image: url(imgs/Untitled_Artwork16.png);
}

.img-green {
  background-image: url(imgs/Untitled_Artwork17.png);
}

.img-black {
  background-image: url(imgs/Untitled_Artwork18.png);
}

.img-yellow {
  background-image: url(imgs/Untitled_Artwork19.png);
}

.img-brown {
  background-image: url(imgs/Untitled_Artwork20.png);
}

.img-pink {
  background-image: url(imgs/Untitled_Artwork21.png);
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 350;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr);
  }
  .quien {
    grid: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .desc {
    -ms-grid-columns: 2/4;
    grid-template-columns: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr);
  }
  .img-red, .img-blue, .img-purple, .img-green, .img-black, .img-yellow, .img-brown, .img-pink {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .img-blue {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .img-purple {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .img-green {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .img-black {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .img-yellow {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .img-brown {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img-pink {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media only screen and (min-width: 901px) {
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
  }
}

.img-bord1, .img-bord2, .img-bord3, .img-bord4, .img-bord5, .img-bord6, .img-bord7, .img-bord8 {
  background-image: url(imgs/Robbit_Stock.png);
  background-size: cover;
  background-position: center;
}

.img-bord2 {
  background-image: url(imgs/Untitled_Artwork1.png);
}

.img-bord3 {
  background-image: url(imgs/Untitled_Artwork16.png);
}

.img-bord4 {
  background-image: url(imgs/Untitled_Artwork17.png);
}

.img-bord5 {
  background-image: url(imgs/Untitled_Artwork18.png);
}

.img-bord6 {
  background-image: url(imgs/Untitled_Artwork19.png);
}

.img-bord7 {
  background-image: url(imgs/Untitled_Artwork20.png);
}

.img-bord8 {
  background-image: url(imgs/Untitled_Artwork21.png);
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 350;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr);
  }
  .quien {
    grid: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .desc {
    -ms-grid-columns: 2/4;
    grid-template-columns: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr);
  }
  .img-bord1, .img-bord2, .img-bord3, .img-bord4, .img-bord5, .img-bord6, .img-bord7, .img-bord8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .img-bord2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .img-bord3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .img-bord4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .img-bord5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .img-bord6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .img-bord7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img-bord8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media only screen and (min-width: 901px) {
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */